# {{ ansible_managed }}

# CAUTION: Any syntax error introduced here can break sudo.

# Allow user account to perform administrative tasks
{% if umc_user_add_passwordless_sudo %}
{{ umc_user_add_name }} ALL=(root) NOPASSWD: ALL
{% else %}
{{ umc_user_add_name }} ALL=(root) PASSWD: ALL
{% endif %}
