# {{ ansible_managed }}

# CAUTION: Any syntax error introduced here will break sudo.

# Allow dedicated ansible account to perform administrative tasks
{% if umc_ansible_user_authentication_required %}
{{ umc_ansible_user_name }} ALL=(root) PASSWD: ALL
{% else %}
{{ umc_ansible_user_name }} ALL=(root) NOPASSWD: ALL
{% endif %}
