# {{ ansible_managed }}

Match User {{ umc_ansible_account_name }}
  AllowUsers *@{{ umc_ansible_account_allowed_ip }}
  AuthenticationMethods publickey
  Banner none
  GatewayPorts no
  PasswordAuthentication no
  PermitTTY no
  PermitTunnel no
  X11Forwarding no
