# {{ ansible_managed }}
#

Match User {{ umc_account_name }}
  AllowUsers *@{{ umc_allowed_ip }}
  AuthenticationMethods publickey
  PasswordAuthentication no
  PermitTTY no
  X11Forwarding no
  PermitTunnel no
  GatewayPorts no
  Banner none
